{% extends "base.html" %}


  {% block content %}
<div class="btn-toolbar">
    <button class="btn btn-primary">New User</button>
<a class="btn btn-primary" data-toggle="modal" href="#ideaModal" >New Idea</a>
 {% include "newideamodal.html"%}
</div>
<form action="/newidea/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Idea</th>
          <th>Collaborators</th>
          <th>Date</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
        {% if user.is_authenticated %}
        Hey - user
          {% else %}
          Hello! Something went wrong and you're still seem to be anonymous for me.
          {% endif %}
      {{ tasks.count}}
      {% for task in tasks %}
        <tr>
          <td>1</td>
          <td>{{task.name}}</td>
          <td>Tompson</td>
          <td>the_mark7</td>
          <td>
              <a href="user.html"><i class="icon-pencil"></i></a>
              <a href="#myModal" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>

</div>
<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>

  {% endblock %}
